.container {
  max-width: 768px;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}
*,
.body {
  font-family: 'Segoe UI', 'Helvetica Neue', 'Arial', 'Microsoft YaHei', sans-serif;
  font-size: 16px;
  color: #333;
}
p {
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
}
a {
  color: #333;
  transition: 0.25s;
}
a:hover {
  color: #999;
}
a:focus {
  color: #82a586;
}
a:active {
  color: #ccc;
}
hr {
  border: none;
  border-bottom: 1px solid #666;
}
article {
  padding: 0.5rem 1rem;
  letter-spacing: 1px;
  line-height: 1.75rem;
}
article p {
  text-indent: 2rem;
}
article .footage {
  color: #666;
  font-size: 0.8rem;
  text-align: right;
}
body {
  font-size: 16px;
}
.container {
  max-width: 100%;
  min-width: 1024px;
  margin: 1rem 0;
}
.schedule {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.schedule tr,
.schedule td,
.schedule th {
  border: none;
  padding: 0.75rem 1rem;
}
.schedule th {
  padding-bottom: 0.25rem;
  min-height: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}
.schedule th p {
  margin: 0.25rem 0;
}
.schedule th .grey {
  color: rgba(0,0,0,0.6);
}
.schedule td {
  min-height: 4rem;
  position: relative;
}
.schedule tr,
.schedule td {
  border-bottom: 1px dotted #999;
}
.schedule .split-middle {
  border-bottom: 1px solid #333;
}
.schedule th,
.schedule .split-end {
  border-bottom: 2px solid #333;
}
.schedule .highlight {
  border: 5px solid #f7f736;
}
.course-section {
  text-align: center;
}
.course-section p {
  margin: 0;
}
.course-info p {
  margin: 0;
  text-transform: capitalize;
}
.course-info .name {
  text-decoration: underline;
  text-align: center;
}
.course-info .type {
  text-align: center;
  font-style: italic;
}
.course-info .teacher {
  color: #5c9864;
}
.course-info .place {
  color: #5865a5;
}
.course-info .section-num {
  position: absolute;
  bottom: 0;
  right: 0.5rem;
  color: rgba(0,0,0,0.15);
  font-weight: bold;
  font-size: 3rem;
  font-style: italic;
}
.weekend,
.week-num {
  text-align: center;
  margin: 0.5rem;
}
.week-num input {
  width: 4rem;
  border: none;
  border-bottom: 1px solid #333;
  border-radius: 0;
  text-align: center;
}
button {
  background: none;
  color: #333;
  border: 1px solid #333;
  border-radius: 0;
  padding: 0.25rem;
  margin: 0 0.125rem;
  min-width: 2rem;
  cursor: pointer;
}
button:hover {
  border-color: #999;
  color: #999;
}
button:active {
  border-color: #5c9864;
  color: #5c9864;
}
.highgreen {
  background-color: #ceeed0;
}
.highlight {
  background-color: #fdfdde;
}

